@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
    --scene-color: rgb(179, 178, 201);
    --scene-background: rgb(63, 61, 105);

    --code-section-background: rgb(150, 151, 199);

    --footer-color: rgb(51, 51, 51);
}


* {margin: 0; padding: 0; background: none; border: none; outline: none; box-sizing: border-box;}

body {
    font-family: 'PT Mono', sans-serif;
}

.sourcecode {
    position: absolute;
    top: 40px;
    left: 80px;

    color: #111;

    z-index: 1;

    font-size: .9em;
}

.sourcecode__html {
    border-bottom: 1px solid #999;

    padding-bottom: 1em;
    margin-bottom: 1em;

}

.version {
    position: absolute;
    bottom: 1em;
    left: 1em;

    font-size: .8em;

    color: #111;
}

.tools {
    display: flex;
    flex-direction: column;

    padding: 0 2em;
}

    .tools > button {
        margin: 1em 0;
    }

.scene-section {
    overflow: hidden;

    height: 100vh;

    background-color: var(--scene-background);

    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    position: relative;

    width: 74vw;
    height: 82vh;

    background-color: var(--scene-color);

    overflow: hidden;

    box-shadow: .5em .5em 2em rgba(24, 22, 63, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* <<<<<<<<<<<<<<<<<<<<< ---- >>>>>>>>>>>>>>>>>>>>>>> */






























/* -------------------------------------------------- */
/* ----------       Rotate interface        --------- */
/* -------------------------------------------------- */


.interface {
    z-index: 1;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cube-rotateY-range {
    position: absolute;

    bottom: 40px;
    left: 80px;

    width: 50vw;
}

.cube-rotateY-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    height: 2px;

    background-color: rgb(139, 139, 139);
}

.cube-rotateY-range::-webkit-slider-thumb {
    -webkit-appearance: none;

    background-color: #555;
    
    width: 8px;
    height: 24px;

    border-radius: 2px;

    cursor: pointer;

    transform: translateY(-11px);
}

.cube-rotateX-range {
    position: absolute;

    bottom: 200px;
    left: 40px;

    width: 50vh;

    transform-origin: left center;
    transform: rotate(-90deg);
}

.cube-rotateX-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    height: 2px;

    background-color: rgb(139, 139, 139);
}

.cube-rotateX-range::-webkit-slider-thumb {
    -webkit-appearance: none;

    background-color: #555;
    
    width: 8px;
    height: 24px;

    border-radius: 2px;

    cursor: pointer;

    transform: translateY(-11px);
}

/* -------------------------------------------------- */
/* ----------       Inputs[range]        ------------ */
/* -------------------------------------------------- */



































/* -------------------------------------------------- */
/* -----------           Cube            ------------ */
/* -------------------------------------------------- */
:root {
    --cube-size: 400px;
    
    --cube-rotate-degree-Y: 45deg;
    --cube-rotate-degree-X: 0deg;
}

.cube-section {
    perspective: 1000px;
}

.default-cube {
    position: relative;

    width: var(--cube-size);
    height: var(--cube-size);

    transform-style: preserve-3d;

    transform: rotateY(var(--cube-rotate-degree-Y)) rotateX(var(--cube-rotate-degree-X));
}

.default-side {
    position: absolute;

    width: var(--cube-size);
    height: var(--cube-size);
}

.default-top {
    transform: rotateX(90deg) translateZ( calc(var(--cube-size) / 2) );
    background-color: #333;
}

.default-bottom {
    transform: rotateX(90deg) translateZ( calc( (var(--cube-size) / 2) - var(--cube-size) ) );
    background-color: #333;
}

.default-left {
    transform: rotateY(90deg) translateZ( calc( (var(--cube-size) / 2) - var(--cube-size) ) );
    background-color: #444;
}

.default-right {
    transform: rotateY(90deg) translateZ( calc(var(--cube-size) / 2) );
    background-color: #444;
}

.default-front {
    transform: translateZ( calc(var(--cube-size) / 2) );
    background-color: #555;
}

.default-back {
    transform: translateZ( calc( (var(--cube-size) / 2) - var(--cube-size) ) );
    background-color: #555;
}

/* -------------------------------------------------- */
/* -----------           Cube            ------------ */
/* -------------------------------------------------- */


.cube-properties {
    position: absolute;

    top: 40px;
    right: 40px;

    width: 180px;

    padding: 40px 0;

    user-select: none;
    /* background-color: rgba(85, 85, 85, 0.13); */
}

.cube-properties__size {
    width: 55px;
    font-size: 1em;

    user-select: none;
}















/* -------------------------------------------------- */
/* -----    rigt-bootm Minicube manipulator     ----- */
/* -------------------------------------------------- */
.navigator {
    position: absolute;
    bottom: 40px;
    right: 40px;

    width: 180px;
    height: 180px;

    background-color: rgba(85, 85, 85, 0.13);
}

.navigator > * {
    position: absolute;
}

.navigator-top {
    top: 0;
    left: 74px;

    transform: rotate(-90deg);
}

.navigator-bottom {
    bottom: 0;
    left: 74px;

    transform: rotate(90deg);
}

.navigator-left {
    top: 74px;
    left: 0;

    transform: rotate(180deg);
}

.navigator-right {
    top: 74px;
    right: 0;
}
/* -------------------------------------------------- */
/* -----    rigt-bootm Minicube manipulator     ----- */
/* -------------------------------------------------- */





















@keyframes rotate {
    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}


footer {
    height: 20vh;

    background-color: var(--footer-color);

    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dim {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #333;
    color: #fff;

    justify-content: center;
    align-items: center;
}

@media (width < 1280px ) {
    .dim {
        display: flex;
    }

    .scene-section {
        display: none;
    }
}